* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calculator {
    background-color: rgb(69, 69, 69);
    height: 600px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}